body { 
    background-image: url('tanning-salon-brick-nj.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
h2{
	color: white;
	font-size: 80px;
	text-align: center;
	font-family: “Arial Verdana”;
}
P{
	color: white;
	font-size: 40px;
	text-align: center;
	font-family: “Arial Verdana”;
}